# folders and sub-folders to ignore

gh/
gitconfig/
ngrok/
ssh/
mpv/.config/mpv/watch_later/
cargo/.config/cargo/registry/
newboat/.newboat/cache.db
transmission-daemon/.config/transmission-daemon/dht.dat
transmission-daemon/.config/transmission-daemon/resume/
transmission-daemon/.config/transmission-daemon/stats.json
transmission-daemon/.config/transmission-daemon/torrents/
zsh/.config/zsh/secrets.zsh
zsh/.config/zsh/.zsh_history

# file types to ignore
*.bak
