# Screen Layout Script
$HOME/.screenlayout/vga-only-screen-layout.sh &
# $HOME/.screenlayout/ldvs-only.sh &

# Dunstify 
# pkill -9 dunst; dunst &

# Network-Manager Applet
nm-applet &

# Turn off DPMS
xset s off &
xset -dpms &

# Brave Browser
$HOME/.scripts/autostart/brave.sh &

# Thunderbird
# $HOME/.scripts/autostart/thunderbird.sh &
